<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="main">
    <div class="main-content">

        {{>header}}
        <h4>{{name}}</h4>
        <p>This app is created by Aboubakar using data from mapbox and openweathermap.</p>
        <img src={{src}} alt="" class="about-img" />
    </div>
    {{>footer}}
</body>

</html>